.wrapperAbout{
  overflow-y: scroll;
  height: 100vh;
  margin:0 auto;
}
.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width:80%;
  margin-bottom: 5rem;
}
.about, .about-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  font-size: 1rem;
  color:#8A817C;
  text-decoration: none;
  margin:2rem;
  margin: 0;
}

.about-desc{
  width: 70%;
  background-color: #fff;
  padding:4rem;
  border-radius: 0.25rem;
  position:relative;
  z-index: -1;
}
.about-desc::before{
  z-index: -2;
  border-radius: 100%;
  background: #F4F3EE;
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  left: 0;
  right: 0;
  text-align: center;
  width:400px;
  min-width: 400px;
  height:400px;
  content: '';
  position:absolute;
  top:-80%;
}
.about a{
  color:#8A817C;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.about a:hover{
  color:#E0AFA0;
}
.about-image{
  z-index: 10;
  background-image: url('../assets/me.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width:30vh;
  height:30vh;
  border-radius: 50%;
}
.about-gh, .about-linkedin{
  font-size: 1rem;
  color:#E0AFA0;
  font-weight: 800;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-out;
}
.about-gh:hover, .about-linkedin:hover{
color: #8A817C;
}
.about-icon{
  margin-right:0.5rem;
}
@media(max-width:992px){
  .about-desc::before{
    top:-70%;
  }
}
@media(max-width:576px){
  .about-container{
    width:100%;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .about-desc::before{
    top:-65%;
  }
}
@media(max-width:360px){
  .about-desc::before{
    top:-60%;
    width:360px;
    height:360px;
  }

}