.card{
  width: 500px;
  min-height: 550px;
  background-color: #fff;
  margin: 2rem;
  flex-direction: column;
  border-radius: 0.5rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-out;
  border-radius: 5%;

}
.card:hover{
  -webkit-box-shadow: 0px 0px 31px -7px rgba(138, 129, 124, 1);
  -moz-box-shadow: 0px 0px 31px -7px rgba(138, 129, 124, 1);
  box-shadow: 0px 0px 31px -7px rgba(138, 129, 124, 1);
}
.image-container, .details-container{
  width:100%;
}
.image-container img{
  max-height: 100%;
  max-width:100%;
  height:auto;
  border-radius: 5%;

}
.details-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.project-link{
  text-decoration: none;
  letter-spacing: 0.25rem;
  color:#E0AFA0;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  font-size:1rem;
}
.project-link:hover{
  color: #463F3A;
}
.name{
  letter-spacing: 0.25rem;
  color:#E0AFA0;
  text-transform: uppercase;
  font-size:1.75rem;
}
.desc,
.name,
.project-link{
  margin:2rem ;
}
.desc{
  color: #8A817C;
  letter-spacing: 0.15rem;
}