.skills-wrapper{
  overflow-y: scroll;
  height: 100vh;
  margin:0 auto;
}
.skills{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  flex-direction: row;
  width:45%;
  margin:0 auto;
  margin-bottom: 5rem;
}
.skill{
  width:100px;
  height:100px;
  align-items: center;
  justify-content: center;
  text-align:center;
  padding: 1rem;
  margin:2rem 0;
  flex-direction: column;
}
.skill img{
  width:100px;
}
p{
  color:#463F3A;
  letter-spacing: 0.25rem;
}
